nav {
  background-color: var(--primary-navbar);
  border-bottom: 1px solid var(--primary-navy);
}


nav ul >li > a {

  text-transform: uppercase;
  color: var(--primary-navy) !important;
}

.navbar-nav .nav-item {

  margin-right: 20px;
  border-bottom: 3px solid transparent;
}


.navbar-nav .nav-item.active {

  border-bottom: 3px solid var(--primary-orange)  !important;

}

.navbar-nav .nav-item:hover {

  border-bottom: 3px solid var(--primary-green) ;
  transition: border 0.5s ease-in-out;
}

nav .nav-link {
  font-weight: bold;
}

form  input[type="text"] {

  background-color: var(--primary-peach) !important;
}


/** Logo **/
.logo {

  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid var(--primary-navy);
  background-color: orangered;
  margin-right: 4px;

}

.logo-label {
  font-size: 28px;
}

.navbar-brand {
  margin-right: 16px;
}