.typed-text {

  font-size: 32px !important ;
}

.card {
  margin: 20px ;
  padding: 10px;
  background-color: var(--primary-custom-green);
  min-height: 400px;
}

.card-body {

  color:  var(--primary-navy) !important;
}

.card-text {

  margin-top: 30px !important;

}

.card img {

  width: 170px !important;
  height: 100px !important;
  border: 5px solid var(--primary-white) !important;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;

}

.card img:hover {

  transform: scale(1.1);
}