.footer {

  background-color: var(--primary-navy)  !important;
  color: var(--primary-alt-white) ;
  width: 100%;
  min-height: 13vh ;
  padding: 10px;
}

.footer-column {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;

}

.footer-column  a {


  text-decoration: none;
  color: var(--primary-alt-white) ;
  margin: 2px;
  padding: 2px;
}